@use "/src/styles/abstracts/media-queries" as ab;

.project {
	.heading {
		font-size: 2rem;
		text-align: center;

		margin-block-end: clamp(1em, 2.25vi, 2em);
	}

	.container {
		display: grid;
		gap: 2em;
	}

	.project_item {
		display: grid;
		border-radius: 0.75rem;
		overflow: hidden;

		> * {
			grid-row: 1/1;
			grid-column: 1 /1;
			max-height: 25rem;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;

			transition: scale 300ms;
		}

		a {
			font-size: clamp(1rem, 1.5vi, 1.25rem);
			font-weight: 600;

			color: var(--white);
			text-decoration-color: transparent;
			position: absolute;
			z-index: 1;
			bottom: 5%;
			padding-inline-start: 1rem;

			&:hover,
			&:focus-visible {
				text-decoration-color: currentColor;
			}
		}

		.image {
			background-color: var(--accent-secondary);
		}

		.link {
			position: relative;
			z-index: 1;

			background-image: linear-gradient(
				transparent 97.5%,
				var(--accent-secondary) 97.5%
			);
		}

		&:hover {
			img {
				scale: 1.25;
			}
		}
	}
}
