---
import styles from "./project.module.scss";

const projects = [
	{
		name: "APERÇU DU PROJET",
		image: "/projects/work1.webp",
		link: "/",
	},
	{
		name: "CONTEXTE ET JUSTIFICATION",
		image: "/projects/work2.webp",
		link: "/",
	},
	{
		name: "OBJECTIF GLOBAL & SPECIFIQUE",
		image: "/projects/work2.webp",
		link: "/",
	},
];
---

<div class={styles.project}>
	<div class="container">
		<h2>En un coup d'œil</h2>
	</div>
</div>
