@use "/src/styles/abstracts" as ab;

.container {
	--_s: 1.25rem;

	&.container {
		// boosting specificity
		--_gap: 2em;
	}

	--_float: left;
	--_mi: 0 2em;

	&:nth-of-type(even) {
		.image {
			--_float: right;
			--_mi: 2em 0;
		}
	}

	.image {
		margin-block-end: var(--_s);

		@include ab.le-minstry {
			float: var(--_float);
			margin-inline: var(--_mi);
		}

		img {
			width: 100%;
			object-fit: cover;

			border-radius: 0.5em;
		}
	}

	h2 {
		margin-block-end: var(--_s);

		@include ab.le-minstry {
			text-align: left;
		}
	}

	p {
		margin-block-end: var(--_s);
	}

	.mission {
		> li::marker {
			color: var(--accent-secondary);
			font-weight: 600;
			font-size: clamp(1rem, 1.5vi, 1.25rem);
		}
		span {
			color: var(--accent-secondary);
			font-weight: 600;
			font-size: clamp(1rem, 1.5vi, 1.25rem);
		}

		ul {
			margin-inline-start: 1rem;
			list-style-position: outside;

			li[data-level]::marker {
				content: "• ";
			}

			li[data-level="1"]::marker {
				content: "– ";
			}
		}
	}
}
