@use "/src/styles/abstracts" as ab;

.container {
	font-size: clamp(1rem, 1.25vi, 1.125rem);

	ol {
		display: grid;
		gap: 1.5rem;

		padding: 0;
		list-style-position: inside;
	}

	ol > li {
		font-weight: 700;

		ul {
			font-weight: 400;
			margin-block-start: 0.5rem;

			display: grid;
			gap: 0.75rem;

			padding: 0;
			padding-inline-start: 1.5rem;

			li {
				list-style-type: disc;
				list-style-position: outside;
			}
		}
	}
}
