.hero {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../../../public/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: clamp(15rem, 30vb, 25.5rem);

    text-align: center;
    color: var(--white);

    border-image: fill 0
        linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(10, 75, 161, 0.75) 0%
        );

    h1 {
        font-size: clamp(2.5rem, 3.75vi, 3.75rem);
    }
}
