@use "/src/styles/abstracts" as ab;

.hero {
	min-height: 35rem;
	max-height: 85vb;

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;

		object-position: center;

		@include ab.screen-64 {
			object-position: center 25%;
		}
	}
}
