@use "/src/styles/abstracts" as ab;

.nav {
	position: sticky;
	top: calc(-1 * var(--nav-upper, 0em));
	color: var(--text);

	z-index: 10;

	.navUpperParent {
		background-color: var(--white);
	}

	.navUpper {
		display: none;

		padding-block: 1em;
		align-items: center;

		gap: clamp(1em, 1.75vi, 1.5em);

		@include ab.nav {
			display: flex;
		}

		img {
			width: clamp(12.5rem, 20vi, 15rem);
			height: auto;
		}

		.donate {
			margin-inline-start: auto;

			a {
				font-size: clamp(1rem, 1.25vi, 1.125rem);
			}
		}
	}

	.navMain {
		--_gap: 2em;

		background-color: var(--white);
		// backdrop-filter: blur(5px);

		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
			rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

		padding-block: 1em;

		.label {
			@include ab.nav {
				display: none;
			}

			span {
				--_bg: var(--accent-primary);

				display: inline-block;
				background-color: var(--_bg);
				width: 2rem;
				height: 3px;
				position: relative;
				border-radius: 10px;

				transition: rotate 300ms, translate 300ms;

				&::before,
				&::after {
					border-radius: inherit;
					content: "";
					position: absolute;

					inset: 0;

					background-color: var(--_bg);
					transition: rotate 300ms, translate 300ms, opacity 100ms;
				}

				&::before {
					translate: 0 -8px;
				}

				&::after {
					translate: 0 8px;
				}
			}
		}

		&:has(input:checked) {
			.label {
				span {
					rotate: -45deg;

					&::before {
						rotate: 90deg;
						translate: 0 -1px;
					}

					&::after {
						opacity: 0;
					}
				}
			}

			.content {
				clip-path: inset(0);
			}
		}

		.toggle {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1em;

			@include ab.nav {
				display: none;
			}

			input {
				display: none;
			}

			img {
				width: auto;
				height: auto;

				max-width: 15rem;
			}
		}

		.content {
			--_pb: 4em;

			background-color: var(--white);

			position: fixed;
			inset: 0;
			overflow: auto;
			overscroll-behavior: contain;

			padding-block-end: var(--_pb);

			display: grid;
			gap: var(--_gap);
			align-content: start;

			clip-path: inset(0 100% 0 0);

			transition: clip-path 300ms;

			a,
			p {
				display: inline-block;

				&[data-active="true"] {
					color: var(--accent-secondary);

					&[data-level="0"] {
						text-decoration: underline;
						text-decoration-color: currentColor;
						text-underline-offset: 6px;
						text-decoration-thickness: 2px;

						svg {
							color: var(--accent-secondary);
						}
					}
				}
			}

			@include ab.nav {
				--_pb: 0;

				position: static;
				clip-path: none;
				overflow: visible;
			}

			> * {
				--_w: 90%;

				width: var(--_w);
				margin-inline: auto;

				@include ab.nav {
					--_w: 100%;
				}
			}

			.links {
				padding: 0;

				.control {
					display: flex;
					justify-content: flex-end;
					position: sticky;
					top: 0;
					padding-block: 1em;

					@include ab.nav {
						display: none;
					}
				}

				> ul {
					margin: 0;
					padding: 0;

					display: grid;
					gap: var(--_gap);

					* {
						font-weight: 600;
					}

					@include ab.nav {
						display: flex;
						align-items: center;

						justify-content: space-between;

						* {
							font-size: clamp(0.8rem, 1vi, 1rem);
						}
					}
				}

				.sublink_container {
					display: grid;
					gap: 0.5em;
					position: relative;

					p {
						display: flex;
						gap: 0.25em;

						align-items: center;
						cursor: context-menu;

						svg {
							color: var(--accent-primary);
						}

						&[data-active="true"] {
							color: var(--accent-secondary);

							svg {
								color: var(--accent-secondary);
							}
						}
					}

					&[data-level="0"] {
						&:hover {
							.sublink {
								--_h: 1fr;
							}
						}
					}
				}

				.sublink {
					--_gap: 0.75em;
					--_h: 0fr;

					padding-inline-start: 1em;

					display: grid;
					grid-template-rows: var(--_h);

					transition: grid-template-rows 300ms;

					> div {
						display: grid;
						gap: var(--_gap);
					}

					&[data-level="0"] {
						@include ab.nav {
							position: absolute;
							top: 100%;

							padding: 0;
							padding-block-start: 0.5em;
						}

						> div {
							overflow: hidden;

							@include ab.nav {
								--_p: 1rem;

								min-width: 15rem;
								width: max-content;
								padding-inline: var(--_p) calc(2 * var(--_p));

								background-color: var(--white);
								box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
									rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

								border-radius: 0.5em;

								> :first-child {
									padding-block-start: var(--_p);
								}

								> :last-child {
									padding-block-end: var(--_p);
								}
							}
						}
					}

					&[data-level="1"] {
						* {
							color: var(--text-light);

							&[data-active="true"] {
								color: var(--accent-secondary);
							}
						}
					}
				}
			}

			.logo {
				display: grid;
				gap: var(--_gap);

				img {
					width: clamp(12.5rem, 20vi, 15rem);
					height: auto;
				}

				@include ab.nav {
					display: none;
				}
			}
		}

		.home.home {
			--_bg: var(--accent-primary);
			padding: 0.25rem;

			background-color: var(--_bg);
			width: 1.75rem;
			aspect-ratio: 1;

			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 0.25rem;

			transition: background-color 300ms;

			&[data-active="true"] {
				--_bg: var(--accent-secondary);
			}

			svg {
				color: var(--white);
			}
		}
	}
}
