---
import Layout from "@layouts/Layout.astro";
import Word from "@components/word/word.astro";
import Map from "@components/map/map.astro";
import Project from "@components/projects/project.astro";
import Video from "@components/video/video.astro";
import Blog from "@components/Blog/blog.astro";
import Opportunities from "@components/opportunities/opportunities.astro";
import Hero from "@components/hero/hero.astro";
---

<Layout title="Prise">
	<main>
		<Hero />
		<Word />
		<Project />
		<Map />
		<Blog />
		<Opportunities />
		<Video />
	</main>
</Layout>

<style>
	main {
		display: grid;
		gap: 4em;
		margin-block-end: 4em;
	}
</style>
