@use "/src/styles/abstracts/media-queries" as ab;

.word {
	border-bottom: 0.25rem solid var(--accent-secondary);
	display: grid;

	grid-template-areas:
		"heading"
		"image"
		"text";

	.heading {
		grid-area: heading;
		font-size: 2rem;

		text-align: center;
		text-wrap: balance;

		width: min(90%, var(--max-width));
		margin-inline: auto;
	}

	.image {
		grid-area: image;
		margin-block: 1rem;

		clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	}

	.text {
		grid-area: text;

		width: min(90%, var(--max-width));
		margin-inline: auto;

		color: var(--text);

		.name {
			color: var(--accent-secondary);
			margin-block: 1.5rem 3rem;

			font-size: 1.5rem;
			font-weight: 600;
		}
	}

	@include ab.screen-64 {
		--_w: calc(100 * var(--vw));
		--_mw: var(--max-width);
		--_mwp: calc(90 * var(--vw));

		--_leftp: calc((var(--_w) - var(--_mwp)) / 2);
		--_leftf: calc((var(--_w) - var(--_mw)) / 2);
		--_left: max(var(--_leftf), var(--_leftp));

		--_max-width: calc(var(--max-width) / 2);

		grid-template-areas:
			".image"
			"heading image"
			"text image";

		.heading,
		.text {
			max-width: var(--_max-width);
			margin-inline: var(--_left) 0;
		}

		.heading {
			text-align: left;
			margin-block-end: 2rem;
		}

		.image {
			margin: 0;
			max-height: 32.5rem;

			clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);

			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
	}
}
