@use "/src/styles/abstracts" as ab;

.opportunities_fallback {
	--_bg: hsla(214, 88%, 34%, 0.8);

	background-image: url("../../../../public/home/opportunities/opportunities.webp");
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;

	padding-block: 3rem;

	min-height: 22rem;
	position: relative;

	border-image: fill 0
		linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(10, 75, 161, 0.75) 0%
		);

	@include ab.screen-64 {
		background-position: center 25%;
	}

	.container {
		display: grid;
		gap: 2.5rem;

		position: absolute;
		inset: 0;
		margin: auto;

		align-content: center;
	}

	.heading {
		color: var(--white);
		font-size: clamp(2.5rem, 4vi, 3.75rem);
		text-align: center;
	}

	.items {
		--_gap: 2rem;

		display: grid;
		gap: var(--_gap);

		place-items: center;

		a {
			text-align: center;
			min-width: 20rem;
			font-size: clamp(1rem, 1.5vi, 1.25rem);
		}

		@include ab.screen-64 {
			--_gap: 2.5rem;

			display: flex;
			justify-content: center;

			a {
				min-width: max-content;
				width: 17.5rem;
			}
		}
	}
}

.opportunities {
	display: grid;
	gap: 2rem;

	input {
		clip-path: circle(0);
		position: absolute;

		right: 100px;
	}

	.heading {
		text-align: center;
	}

	.redirect {
		font-weight: 700;

		@include ab.opportunity {
			text-align: end;
		}
	}

	.trigger {
		--_space: clamp(1rem, 3vi, 2.5rem);
		--_radius: 2rem;

		--_color: var(--accent-primary);
		--_background: transparent;

		background-color: var(--grey-light);
		border-radius: var(--_radius);

		display: flex;
		align-items: center;

		margin-inline: auto;

		label {
			padding: clamp(0.75rem, 2vi, 1rem) var(--_space);
			font-size: clamp(0.75rem, 2.25vi, 1.25rem);

			font-weight: 700;

			background-color: var(--_background);
			color: var(--_color);

			border-radius: var(--_radius);

			&:has(input:checked) {
				--_background: var(--accent-primary);
				--_color: var(--white);
			}
		}
	}

	.response {
		--_time: 4000ms;

		display: grid;
		grid-template-columns: 1fr;
		gap: 2rem;

		.image {
			display: none;

			border-radius: 0.75rem;
			overflow: hidden;
			img {
				width: 100%;
				object-fit: cover;
				height: 100%;
			}
		}

		@include ab.opportunity {
			grid-template-columns: 1fr 1fr;

			.image {
				display: block;
			}
		}

		.container {
			display: grid;
			gap: 3rem;

			align-self: start;

			.items {
				--_h: 0fr;
				--_bg: transparent;
				--_color: var(--grey-title);

				display: grid;
				gap: 1rem;

				position: relative;
				padding-inline-start: 1rem;

				&::before {
					content: "";
					width: 4px;
					top: 0;
					bottom: 0;

					background-color: rgba(128, 128, 128, 0.322);
					background-image: linear-gradient(var(--_bg), var(--_bg));
					background-repeat: no-repeat;
					background-size: 100% 0%;

					position: absolute;
				}

				&:has(input:checked) {
					--_h: 1fr;
					--_bg: var(--accent-secondary);
					--_color: var(--black);

					&::before {
						animation: fill-color var(--_time) forwards linear;
					}
				}

				.title {
					color: var(--_color);
					transition: color 250ms;
				}

				.details {
					display: grid;
					grid-template-rows: var(--_h);

					transition: grid-template-rows 200ms;

					> div {
						overflow: hidden;
						display: grid;
						gap: 1rem;
					}

					.category {
						> p {
							display: inline-block;
							background-color: var(--grey-light);
							padding: 0.5rem 1.5rem;

							color: var(--accent-primary);

							border-radius: 5rem;
						}
					}
				}
			}
		}
	}
}

@keyframes fill-color {
	100% {
		background-size: 100% 100%;
	}
}
