@use "/src/styles/abstracts" as ab;

.ministry {
	display: grid;
	gap: var(--_gap);

	> div {
		--_gap: 1.5em;

		display: grid;
		gap: var(--_gap);

		> h2 {
			text-align: center;
			text-wrap: balance;
		}
	}

	ol,
	ul {
		display: grid;
		gap: 0.5em;

		padding: 0;
		list-style-position: inside;

		> ul {
			gap: 0.25em;
		}
	}
}
