@use "/src/styles/abstracts/media-queries" as ab;

.map {
	.heading {
		text-align: center;
		font-size: 2rem;
		text-wrap: balance;
	}

	.content {
		margin-block-start: clamp(1em, 2.75vi, 2.5em);
		display: grid;
		grid-template-areas:
			"map"
			"text"
			"block";
		gap: 2em;

		.image {
			grid-area: map;
			max-height: 40rem;

			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}

		.text {
			display: inline;
			grid-area: text;
			width: min(90%, var(--max-width));
			margin-inline: auto;

			color: var(--text);
		}

		.block {
			grid-area: block;
			text-align: center;

			p {
				background-color: var(--accent-primary);
				color: var(--white);

				padding-block: 0.75rem;
				font-size: clamp(1rem, 1.75vi, 1.5rem);
				font-weight: 500;
			}
		}

		@include ab.screen-80 {
			--_w: calc(100 * var(--vw)); // full screen width
			--_fixed-max-width: var(--max-width); // fixed max width
			--_percent-max-width: calc(90 * var(--vw)); // percentage max width

			--_percent-right: calc(
				(var(--_w) - var(--_percent-max-width)) / 2
			); // percentage margin right
			--_fixed-right: calc(
				(var(--_w) - var(--_fixed-max-width)) / 2
			); // fixed margin right
			--_right: max(
				var(--_fixed-right),
				var(--_percent-right)
			); // max of both

			--_percent-used-width: calc(
				var(--_percent-max-width) / 2
			); // percent used width
			--_fixed-used-width: calc(
				var(--_fixed-max-width) / 2
			); // fixed used width
			--_max-width: min(
				var(--_percent-used-width),
				var(--_fixed-used-width)
			);

			// display: block;
			// max-height: clamp(39rem, 48.75vi, 40rem);
			// height: 100%;

			grid-template-areas:
				"map text"
				"block block";
			gap: 0;

			.text {
				text-align: right;

				display: inline-block;
				max-width: var(--_max-width);
				margin-inline: 0 var(--_right);

				padding-inline-start: 2rem;

				p {
					text-wrap: pretty;
				}
			}

			.block {
				// clear: left;
			}

			.image {
				// float: left;

				clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
				shape-outside: polygon(0 0, 100% 0, 80% 100%, 0 100%);

				max-width: calc(50 * var(--vw));
			}
		}
	}
}
