---
import styles from "./nav.module.scss";
---

<div class={`${styles.navUpper} container`}>
	<div>
		<img src="/logo.webp" alt="logo" />
	</div>
	<div>
		<img src="/project.webp" alt="project" />
	</div>
	<div>
		<img src="/bank.webp" alt="bank" />
	</div>
	<div class={styles.donate}>
		<a href="/">faites un don aujourd'hui</a>
	</div>
</div>
